.menu {
  padding-top: 70px;
}
.menu ul {
  display: flex;
}
.menu ul li {
  margin: 0 10px;
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.menu ul li a:hover {
  color: tomato;
}
